TOKEN=
CLIENT_ID=
GUILD_ID=
ENABLE_CORE_BOT=true
WEB_PORT=3000
WEB_ADMIN_TOKEN=
WEB_BASE_URL=
DISCORD_CLIENT_SECRET=
SESSION_SECRET=
VERIFY_CHANNEL_ID=
RULES_CHANNEL_ID=
LOG_CHANNEL_ID=
SAKURA_ROLE_ID=
STRAWBERRY_ROLE_ID=
MATCHA_ROLE_ID=
MYSTIC_ROLE_ID=
TARO_ROLE_ID=
